@import '../../styles/colors/variables';

.profile {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.username{
    font-size: 30px;
}

.mainDetail {
    padding: 30px;
    display: flex;
    gap: 20px;
    font-weight: bold;
    width: 800px;
    background-color: $global-blue;
    align-items: center;
    color: white;
    border: 1px solid $global-grey;
    border-radius: 15px;
}

.image {
    padding: 20px;
    border: 1px solid $global-blue;
    background-color: $global-blue;
}

.changePassword {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
    padding: 30px;
}

.buttonContainer{
    margin-top: 10px;
    display: flex;
    gap: 20px;
}