.attendance-page {
    padding: 20px;
    background-color: #f9f9f9;
  
    .header {
      margin-bottom: 20px;
      text-align: center;
      font-weight: bold;
      color: #333;
    }
  
    .attendance-grid {
      margin-top: 20px;
      padding: 10px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
      .MuiDataGrid-root {
        width: 100%;
        max-width: 95%; /* Set table to take up more width */
        margin: 0 auto;
      }
    }
  
    .accordion {
      margin-bottom: 20px;
  
      .MuiAccordion-root {
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
  
        .MuiAccordionSummary-root {
          background-color: #f5f5f5;
          padding: 10px;
          border-bottom: 1px solid #ddd;
  
          .MuiTypography-root {
            font-weight: bold;
            color: #333;
          }
        }
  
        .MuiAccordionDetails-root {
          padding: 20px;
  
          .tabs-container {
            .MuiTabs-root {
              margin-bottom: 10px;
  
              .MuiTab-root {
                font-weight: bold;
                color: #555;
  
                &.Mui-selected {
                  color: #1976d2; /* Change selected tab color */
                }
              }
            }
  
            .MuiBox-root {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
  