.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.centeredContent {
  display: flex;
  align-items: center;
}

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.lockIcon {
  margin-right: 8px;
  color: #4caf50; // Or any color you prefer
}

.message {
  font-size: 16px;
  color: #333;
}
