@import '../../../styles/colors/variables';

.container {
    margin-top: 5px;
    padding: 16px;
    border: 1px solid $global-blue;
    border-radius: 8px;
    background-color: #fafafa;
    width: 600px;
    height: 200px;
    margin-bottom: 16px;

    .heading {
        margin-bottom: 12px;
        font-weight: bold;
        color: $global-blue;
    }
    
    .selectAll {
        margin-bottom: 12px;
    }
    
    .checkboxGroup {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }
    
    .checkbox {
        &:hover {
            background-color: #f0f0f0;
        }
    }
}



