@import '../../styles/colors/variables';
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:white;
  }
  
  .sidebar {
    flex: 0 0 250px;
    background-color: #333;
    color: #fff;
  }

  .heading{
    color: $global-blue;
  }
  
  .linkItem {
    padding: 10px;
  }

  .mainContent {
    flex: 1;
    padding: 20px;
  }

  .head{
    color: white;
  }
  
  .footer {
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  
  .dashboardOverview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  .metric {
    padding: 20px;
    border-radius: 8px;
    background-color: $global-blue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .metric h3 {
    margin-bottom: 10px;
  }